$color-1: #7380ec;
$color-2: #ff7782;
$color-3: #41f1b6;
$color-4: #ffbb55;
$color-5: #fff;
$color-6: #7d8da1;
$color-7: #dce1eb;
$color-8: #363949;
$color-9: rgba(132, 139, 200, 0.18);
$color-10: #111e88;
$color-11: #677483;
$color-12: #f6f6f6;
$color-main: #19191f;
$color-sub: #212429;
