// .............................................. SMART PHONE RESPONSIVENESS
// @media screen and (max-width: 414px) {
//   .dashboard {
//     min-height: 175vh !important;
//   }
// }
@media screen and (max-width: 849px) {
  .SmartPhoneFixedTopBar {
    display: flex !important;
  }
  .mobile-aside {
    display: block !important;
  }
  .desktop-aside {
    display: none !important;
  }
  .not-in-smart-phone-design {
    display: none !important;
  }
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .dashboard {
    width: 375px;
    // min-height: 235vh;
    .h-one-dashboard {
      width: 375px;
      margin-top: 70px;
      margin-left: 20px;
    }
    .h-one-recentorder {
      width: 375px;
      margin: 20px 10px;
      margin-left: 20px;
    }
    .cards {
      width: 100% !important;
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr !important;
      margin-top: 20px;
      .fa-solid {
        width: 20px !important;
        height: 20px !important;
        margin-bottom: 10px !important;
      }
      .mid-card {
        flex-direction: row !important;
        .txt {
          margin-right: 20px !important;
          p {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .card-1,
      .card-2 {
        width: 230px !important;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      .card-3 {
        width: 230px !important;
        margin-right: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .table {
      width: 100% !important;
      display: grid !important;
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
      // width: 375px !important;
      // flex-direction: column;
      .show-more {
        width: 375px;
        margin-top: 10px;
      }
      table {
        width: 330px !important;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 15px !important;
        .line::after {
          bottom: -10px;
        }
      }
      td,
      th {
        font-size: 10px;
      }
    }
  }
  .right-side-smart-phone-holder {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin-photo-mobile {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
    }
  }
  .right-side {
    // min-height: 115vh !important;
    .part-one {
      display: none !important;
    }
    .part-two {
      width: 375px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 240px;
      }
      h1 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        width: 300px;
      }
    }
    .part-3 {
      width: 375px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 255px;
        margin-right: 23px;
      }
      h1 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        width: 300px;
      }
    }
  }
  .SmartPhoneFixedTopBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
  }
  .mobilethemeandadmin {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    .sun-moon-mobile {
      display: block !important;
      .fa-sun,
      .fa-moon {
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
      }
      .fa-sun.themeOn,
      .fa-moon.themeOn {
        color: $color-5;
        background-color: $color-1;
      }
    }
  }

  .mobile-aside {
    width: 200px;
    position: fixed;
    margin-top: 0px;
    z-index: 9999;
    background-color: #f2f5ec;
    height: 100vh;
    transition: all 0.4s ease;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);

    .left-options {
      p {
        font-size: 12px;
      }
    }

    &.light-mode {
      background-color: #f2f5ec;
      color: #677483;
    }
    &.dark-mode {
      background-color: #212429;
      color: #dce1eb;
      .fa-solid,
      p {
        color: #dce1eb;
      }
      .op-holder.active {
        .fa-solid,
        p {
          color: $color-1;
        }
      }
    }
    .aside-top {
      margin-top: 20px;
      .logo {
        img {
          width: 40px;
        }
      }
      .logo-name {
        font-size: 18px;
      }
    }
  }
  .mobile-aside.show-mobile-aside {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .fa-bars {
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: black;
  }
  .fa-xmark {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 8px;
    font-weight: bolder;
    cursor: pointer;
  }
  .table-2 {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    table {
      width: 330px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      tr {
        width: 280px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        margin-top: 10px;
        margin-bottom: 15px;
        color: rgba(132, 139, 200, 0.18);
        font-weight: bold;
      }
      th {
        width: 160px !important;
      }
      td {
        width: 130px !important;
        font-size: 12px;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .customers {
    // width: 375px !important;
    // height: 114vh;
    .customers-title {
      margin-top: 80px;
      margin-left: 210px !important;
    }
    h1 {
      margin: 0 !important;
    }
  }
  .order {
    width: 360px;
    // height: 130vh;
    h1 {
      margin-top: 70px;
      margin-left: 16px;
    }
    .order-des {
      width: 330px !important;
      font-size: 9px !important;
    }
    .order-process-type {
      width: 340px !important;
      margin-left: 10px !important;
      font-size: 9px !important;

      &::after {
        width: 330px !important;
      }

      li {
        margin: 7px;

        &.active-order::after {
          bottom: -12px;
        }
      }
    }
    .s-part {
      margin-top: 20px;
      width: 330px;
      .search-btn {
        height: 30px !important;
      }
      .fa-magnifying-glass {
        top: 9px;
      }
    }
    .table-3 {
      table {
        width: 360px !important;
        font-size: 9px !important;
        border-spacing: 10px 20px !important;
      }
    }
  }
  .analytics {
    width: 350px;
    // height: 210vh;
    .h-one-analytics {
      margin-top: 70px;
    }
    .ana-inside-box {
      width: 200px !important;
      margin: 5px !important;
      p {
        margin: 10px !important;
      }
      .box-title {
        font-size: 14px !important;
      }
    }
    .analytics-boxes {
      flex-direction: column;

      .ana-num-value-1,
      .ana-num-value-2,
      .ana-num-value-3,
      .ana-num-value-4 {
        font-size: 20px !important;
      }

      .arrow-top-1,
      .arrow-top-2,
      .arrow-top-3,
      .arrow-top-4 {
        font-size: 15px !important;
      }
    }
    .analytics-chart {
      margin-top: 20px !important;
      img {
        width: 300px !important;
        height: 230px !important;
      }
      .chart-dotsAndtitle {
        width: 200px !important;
      }
    }

    // ................
    .analytics-progress-bars {
      margin-top: 20px !important;
      flex-direction: column !important;
    }

    .ana-progress-bar-one,
    .ana-progress-bar-two {
      margin: 10px !important;
      p {
        font-size: 10px !important;
      }
    }

    // ....................
  }
  .messages {
    width: 350px;
    h1 {
      margin-top: 70px !important;
    }
    .in-msg-search {
      .input-msg {
        width: 260px !important;
      }
    }
    .msg-holder {
      width: 300px !important;
    }
    .ms-pa-2 {
      font-size: 12px !important;
    }
    .not-included-in-ipad-screen {
      display: flex !important;
    }
    .show-more-5 {
      p {
        margin-top: 13px !important;
        margin-bottom: 13px !important;
      }
    }
  }
  .products {
    width: 350px;
    // height: 305vh;
    h1 {
      margin-top: 70px;
    }
    .products-title {
      font-size: 14px !important;
    }
    .products-items {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
    .item {
      width: 350px !important;
      height: 100% !important;
      margin-top: 30px !important;
      .product-img-holder-div {
        width: 200px !important;
        height: 250px !important;
      }
      .item-top {
        text-align: center !important;
        img {
          width: 200px !important;
          height: 250px !important;
        }
      }
      .item-bottom {
        width: 170px !important;
      }
    }
    .show-more-6 {
      p {
        margin-top: 13px !important;
        margin-bottom: 13px !important;
      }
    }
  }
  .sign-up {
    width: 350px;
    margin-right: 0 !important;
    h1 {
      width: 100px;
    }
    .sign-up-title {
      margin-top: 70px !important;
      p {
        font-size: 14px;
      }
    }
    & form .firAndlasName .first-name,
    & form .firAndlasName .last-name {
      width: 140px;
    }
    & form .user-name,
    & form .email,
    & form .pass,
    & form .con-pass {
      width: 300px;
    }
    & form .agreement {
      width: 300px;
    }
  }
  .left-options .op-holder:not(:nth-child(10)) {
    margin-bottom: 0;
  }
  .left-options .op-holder:nth-child(10) {
    position: inherit;
    width: 170px;
  }
}

// .............................................. IPAD RESPONSIVENESS

@media screen and (max-width: 1000px) {
  .SmartPhoneFixedTopBar,
  .mobile-aside {
    display: none;
  }
  .desktop-aside {
    display: block;
    margin-right: 10px;
    p {
      display: none;
    }
    .left-options .op-holder:not(:nth-child(10)) {
      margin-bottom: 26px;
    }
    .left-options .fa-solid {
      margin-right: 0;
    }
    .left-options .op-holder:nth-child(10) {
      width: 100px;
      bottom: 30px;
    }
    .logo {
      img {
        width: 40px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    .logo-name {
      font-size: 15px;
    }
  }
  .dashboard {
    h1 {
      width: 410px;
    }
    .cards {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      .fa-solid {
        width: 10px;
        height: 10px;
        margin-bottom: 0;
      }
      .mid-card {
        flex-direction: column;
        .txt {
          margin-right: 0;
          p {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .last-update {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & .card-1,
    & .card-2,
    & .card-3 {
      width: 110px;
    }
    & .txt {
      font-size: 13px;
    }
    .table {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      table {
        width: 90%;
        border-spacing: 6px;
        margin-left: auto;
        margin-right: auto;
        th {
          font-size: 13px;
        }
        td {
          font-size: 11px;
        }
        .line::after {
          bottom: -5px;
        }
      }
    }
    .show-more {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .right-side {
    margin-left: 0 !important;
    .part-one {
      margin-bottom: 0 !important;
    }
    h1 {
      margin-top: 7px;
      margin-bottom: 7px;
    }
    .part-two {
      margin-bottom: 0;
    }
    .avatar-4 {
      display: none !important;
    }
  }
  .customers {
    h1 {
      width: 100%;
      margin: 0;
    }
    .table-2 {
      width: 97%;
      table {
        display: flex;
        justify-content: center;
        width: 95%;
        border-spacing: 0;
        tr {
          width: 410px;
          margin-top: 0;
          margin-bottom: 7px;
        }
        th {
          margin-bottom: 5px;
        }
        td {
          font-size: 11px;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .show-more-2 {
      width: 97%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .order {
    .order-des {
      width: 410px;
      font-size: 8px;
    }
    .order-process-type {
      width: 420px;
      font-size: 12px;
      margin-left: 0;
      margin-right: 0;
      &::after {
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .s-part {
      width: 80%;
      margin-left: auto !important;
      margin-right: auto !important;
      .search-btn {
        width: 100%;
        height: 30px;
        // margin-left: 30px;
      }
      .fa-magnifying-glass {
        top: 7px;
        left: 12px;
      }
    }
    .table-3 {
      margin-top: 10px;
      table {
        width: 420px;
        font-size: 8px;
        border-spacing: 4px;
      }
    }
  }
  .analytics {
    // min-width: 450px;
    .analytics-boxes {
      width: 100%;
      justify-content: center;
      .ana-inside-box {
        width: 100px;
        margin: 0;
        margin-right: 5px;
      }
      .box-title {
        font-size: 7px;
      }
      .ana-num-value-1,
      .ana-num-value-2,
      .ana-num-value-3,
      .ana-num-value-4 {
        font-size: 11px;
      }
      .arrow-top-1,
      .arrow-top-2,
      .arrow-top-3 {
        font-size: 12px;
      }
    }
    .analytics-main-title {
      width: 100%;
    }
    .analytics-chart {
      width: 100%;
      justify-content: center;
      margin-top: 10px;
      img {
        width: 250px;
        height: 200px;
      }
      .chart-dotsAndtitle {
        width: 200px;
      }
    }
  }
  .messages {
    .msg-form {
      .input-msg {
        width: 320px;
        height: 25px;
      }
    }
    .msg-holder {
      width: 320px;
      .ms-pa-2 {
        font-size: 12px;
      }
    }
    .not-included-in-ipad-screen {
      display: none;
    }
    .show-more-5 {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .products {
    .products-title {
      font-size: 11px;
    }
    .products-items {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .item {
      height: 162px;
      margin-top: 0;
      .product-img-holder-div {
        width: 100px;
        height: 100px;
      }
      .item-top {
        text-align: center;
        img {
          width: 100px;
          height: 100px;
        }
      }
      .item-bottom {
        width: 145px;
      }
    }
    .show-more-6 {
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .sign-up {
    margin-right: 10px;
    .sign-up-title {
      margin: 0;
    }
  }
}
