@media screen and (max-width: 500px) {
  .desktop-aside {
    display: none;
  }
  .not-in-smart-phone-design {
    display: none !important;
  }
  .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .dashboard {
    width: 375px;
    height: 175vh;
    .h-one-dashboard {
      width: 375px;
      margin-top: 70px;
      margin-left: 20px;
    }
    .h-one-recentorder {
      width: 375px;
      margin: 20px 10px;
      margin-left: 20px;
    }
    .cards {
      width: 375px;
      flex-direction: column;
      margin-top: 20px;
      .card-1,
      .card-2 {
        margin-bottom: 10px;
      }
      .card-3 {
        margin-right: 10px;
      }
    }
    .table {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 375px;
      flex-direction: column;
      .show-more {
        width: 375px;
        margin-top: 10px;
      }
      table {
        width: 330px !important;
        margin: 0;
        border-spacing: 15px !important;
        .line::after {
          bottom: -10px;
        }
      }
      td,
      th {
        font-size: 10px;
      }
    }
  }
  .right-side-smart-phone-holder {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .admin-photo-mobile {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
    }
  }
  .right-side {
    height: 103vh;
    .part-one {
      display: none;
    }
    .part-two {
      width: 375px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 240px;
      }
      h1 {
        width: 330px;
      }
    }
    .part-3 {
      width: 375px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      div {
        width: 255px;
        margin-right: 23px;
      }
      h1 {
        width: 330px;
      }
    }
  }
  .SmartPhoneFixedTopBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
    z-index: 100;
  }
  .mobilethemeandadmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
  }
  .sun-moon-mobile {
    .fa-sun,
    .fa-moon {
      font-size: 15px;
      padding: 5px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;
    }
    .fa-sun.themeOn,
    .fa-moon.themeOn {
      color: $color-5;
      background-color: $color-1;
    }
  }
  .mobile-aside {
    width: 200px;
    position: fixed;
    margin-top: 54px;
    z-index: 9999;
    background-color: #f2f5ec;
    height: 94vh;
    transition: all 0.4s ease;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);

    .left-options {
      p {
        font-size: 12px;
      }
    }

    &.light-mode {
      background-color: #f2f5ec;
      color: #677483;
    }
    &.dark-mode {
      background-color: #212429;
      color: #dce1eb;
      .fa-solid,
      p {
        color: #dce1eb;
      }
      .op-holder.active {
        .fa-solid,
        p {
          color: $color-1;
        }
      }
    }
    .aside-top {
      margin-top: 20px;
      .logo {
        img {
          width: 40px;
        }
      }
      .logo-name {
        font-size: 18px;
      }
    }
  }
  .mobile-aside.show-mobile-aside {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
  .fa-bars {
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    color: black;
  }
  .fa-xmark {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 8px;
    font-weight: bolder;
    cursor: pointer;
  }
  .table-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    table {
      width: 330px;
      display: flex;
      justify-content: center;
      align-items: center;
      tr {
        width: 280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
        color: rgba(132, 139, 200, 0.18);
        font-weight: bold;
      }
      th {
        width: 160px;
      }
      td {
        width: 130px;
        font-size: 12px;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .customers {
    height: 114vh;
    .customers-title {
      margin-top: 80px;
      margin-left: 210px !important;
    }
  }
  .order {
    width: 360px;
    height: 133vh;
    h1 {
      margin-top: 70px;
      margin-left: 16px;
    }
    .order-des {
      width: 330px;
      font-size: 9px;
    }
    .order-process-type {
      width: 340px;
      margin-left: 10px;
      font-size: 9px;

      li {
        margin: 7px;

        &.active-order::after {
          bottom: -12px;
        }
      }
    }
    .s-part {
      margin-top: 20px;
      width: 330px;
    }
    .table-3 {
      table {
        width: 360px;
        font-size: 9px;
      }
    }
  }
  .analytics {
    width: 350px;
    height: 210vh;
    .h-one-analytics {
      margin-top: 70px;
    }
    .analytics-boxes {
      flex-direction: column;
    }
    .analytics-chart {
      img {
        width: 300px;
        height: 230px;
      }
      .chart-dotsAndtitle {
        width: 200px;
      }
    }
    .analytics-progress-bars {
      flex-direction: column;
    }
  }
  .messages {
    width: 350px;
    height: 134vh;
    h1 {
      margin-top: 70px;
    }
    .in-msg-search {
      .input-msg {
        width: 260px;
      }
    }
    .msg-holder {
      width: 300px;
    }
  }
  .products {
    width: 350px;
    height: 310vh;
    h1 {
      margin-top: 70px;
    }
    .products-title {
      font-size: 14px;
    }
    .products-items {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .item {
      width: 350px;
    }
  }
  .sign-up {
    width: 350px;
    h1 {
      width: 100px;
    }
    .sign-up-title {
      margin-top: 70px;
      p {
        font-size: 14px;
      }
    }
    & form .firAndlasName .first-name,
    & form .firAndlasName .last-name {
      width: 140px;
    }
    & form .user-name,
    & form .email,
    & form .pass,
    & form .con-pass {
      width: 300px;
    }
    & form .agreement {
      width: 300px;
    }
  }
}
